[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rIntervalTree"]
	path = rIntervalTree
	url = https://github.com/cran/rIntervalTree
